<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Restaurant - Login </title>
</head>


<title>Restaurant - Login</title>

<body>


  <div class="container col-lg-4 text-center mt-5">
    <form class="form-signin m-5" action="" method="POST">
      {% csrf_token %}
      <h1>Restaurant</h1>
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" name="username" maxlength="30" id="inputEmail" class="form-control" placeholder="Email address"
        required autofocus>

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" maxlength="15" id="inputPassword" class="form-control my-2"
        placeholder="Password" required>

      <input class="btn btn-lg-3 btn-light my-1 " type="reset" value="Reset">
      <button class="btn btn-lg btn-primary btn-block my-2" name="login" type="submit">Login</button>

      <a class="btn btn-lg btn-light btn-block my-2" type="button" href="">Forget Password</a>
      <a class="btn btn-lg btn-success btn-block my-2" type="button" href="/register">Don't have account! Create Account...</a>
    </form>


  </div>






  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>


</html>
