<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Restaurant - Sign in</title>
</head>



<body>

<div class="container-sm text-center col-lg-5 my-5">
  <h1>Restaurant</h1>
<h1 class="h3 mb-3 font-weight-normal">Register</h1>
  <form action="" method="POST">
  {% csrf_token %}
    <div class="form-row mx-5">
      <div class="form-group col-md-12">
        <label for="validationDefault03">E-Mail ID</label>
        <input type="email" maxlength="30" name="username" class="form-control" id="validationDefault03" placeholder="Your Email will be your username" required>
      </div>
      <div class="form-group col-md-12">
        <label for="validationDefault03">Password</label>
        <input type="password" maxlength="15" name="password" class="form-control" id="validationDefault03" placeholder="Password" required>
      </div>
    </div>
    <div class="mx-5">
    <input class="btn btn-lg-3 btn-light my-1 " type="reset" value="Reset">

    <button type="submit" name="verify" class="btn btn-primary btn-block mt-3">Create Account</button>
  </div>
  </form>
</div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>


</html>
